PORT=8787
TRADING_MODE=paper
REAL_TRADING_ENABLED=false
PAPER_START_DATE=2026-03-08T00:00:00Z
PAPER_MIN_DAYS=7
RISK_PER_TRADE=0.01
MAX_SIMULTANEOUS_TRADES=3
MAX_TOTAL_EXPOSURE=0.05
MAX_TRADES_PER_DAY=10
CIRCUIT_BREAKER_LOSSES=3
CIRCUIT_BREAKER_PAUSE_HOURS=6
LOOP_INTERVAL_MS=300000
BINANCE_API_KEY=
BINANCE_API_SECRET=
